@{
    ViewData["Title"] = "Home Page";
}

@using DatabaseInteractions;
@using Tracer;
@using System.IO;

    <div class="text-center">

        <h1 class="display-4">From Config</h1>
        <p>BOTKEY: @((string.IsNullOrEmpty(Config.BotApiKey)) ? "" : Config.BotApiKey.Substring(0, 20))</p>
        <p>WebHookUrl: @Config.WebHookUrl</p>
        <p>CoinMarketCapAPIKey: @((string.IsNullOrEmpty(Config.CoinMarketCapAPIKey)) ? "" : Config.CoinMarketCapAPIKey.Substring(0, 20))</p>
        <p>Environment: @Config.Environment</p>
      
        <p>DConStr: @Config.DConStr</p>


        <p>LOG:</p>
        @foreach (var item in TraceError.GetLog())
        {<p>@item</p>}

    </div>
